<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<head>
  <% plugin_name = Redmine::Plugin.find(:redmine_print_templates).name rescue 'Print Templates' %>
  <title><%= "#{plugin_name} - Form" %></title>
  <meta name="csrf-token" content="<%= @csrf_token %>">
  <%= stylesheet_link_tag('print_pdfme', plugin: 'redmine_print_templates') %>
</head>
<body>
  <div id="pdfme-container"><div id="pdfme-loading">Reload page to start PDFme Form...</div></div>
  <%= javascript_include_tag 'pdfme-form', plugin: :redmine_print_templates %>
  <script type="text/javascript">
    var issueData = <%= raw @issue_data %>;
    var embeddedFonts = <%= raw @fonts.to_json %>;
    var pluginSettings = <%= raw @plugin_settings.to_json %>;
  </script>
</body>
</html>
