<div class="box tabular">
  <p><%= f.text_field :name, required: true, size: 50 %></p>
  <p>
    <%= f.select :tracker_id,
                options_from_collection_for_select(@trackers, :id, :name, @print_template.tracker_id || @trackers.first.id),
                { required: true },
                { data: { url: url_for(controller: 'print_templates', action: 'fields_for_tracker', format: :js) } } %>
  </p>

  <p>
    <%= content_tag(:label, l(:label_print_template_basepdf), for: 'pdf-upload') %>
    <input type="file" onchange="encodeBasePDF(this)" accept="application/pdf" id="pdf-upload" />
    <span id="basepdf-ok-icon" class="icon-only icon-ok" style="<%= 'display: none;' unless @print_template.basepdf.present? %>"></span>
    <%= link_to l(:link_print_template_basepdf_reset), '#', id: 'use-blank-pdf', style: ('display: none;' unless @print_template.basepdf.present?) %>
  </p>

  <p>
    <%= button_tag l(:button_print_template_designer_open), type: 'button', id: 'open-designer-fullscreen-btn', class: 'btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only' %>
  </p>

  <!-- Hidden Fields -->
  <%= f.hidden_field :schemas, value: @print_template.schemas, id: 'print_template_schemas' %>
  <%= f.hidden_field :basepdf, value: @print_template.basepdf, id: 'print_template_basepdf' %>
  <%= f.hidden_field :inputs, value: @print_template.inputs, id: 'print_template_inputs' %>
</div>

<div id="designer-fullscreen" class="pdfme-overlay" style="display:none;">
  <div id="designer-button-bar" style="display: flex; align-items: center;">
    <!-- Dropdown for issue fields -->
    <%= select_tag :field, options_for_select([]), id: 'tracker-fields', include_blank: true, class: 'btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only' %>

    <!-- Button to create a new field -->
    <%= button_tag l(:button_print_template_add_field), type: 'button', id: 'add-field-btn', class: 'btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only' %>

    <!-- Close button on the right -->
    <%= button_tag l(:button_print_template_designer_close), type: 'button', id: 'close-designer-fullscreen-btn', class: 'btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only', style: 'margin-left: auto;' %>
  </div>
  <iframe id="pdfme-designer-iframe" src="<%= url_for(controller: 'print_templates_pdfme', action: 'designer') %>"></iframe>
</div>
