<div class="box tabular">
  <p><%= f.text_field :name, required: true, size: 50 %></p>
  <p>
    <%= f.select :tracker_id,
                 options_from_collection_for_select(@trackers, :id, :name, @print_template.tracker_id || @trackers.first.id),
                 { required: true } %>
  </p>

  <p>
    <%= content_tag(:label, l(:label_print_template_basepdf)) %>
    <input type="file" onchange="encodeBasePDF(this)" accept="application/pdf" id="pdf-upload" />
    <span id="basepdf-ok-icon" class="icon-only icon-ok" style="<%= 'display: none;' unless @print_template.basepdf.present? %>"></span>
    <%= link_to l(:link_print_template_basepdf_reset), '#', id: 'use-blank-pdf', style: ('display: none;' unless @print_template.basepdf.present?) %>
  </p>

  <p>
    <%= button_tag l(:button_print_template_designer_open), type: 'button', id: 'open-designer-fullscreen-btn', class: 'btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only' %>
  </p>

  <!-- Hidden Fields -->
  <%= f.hidden_field :schemas, value: @print_template.schemas, id: 'print_template_schemas' %>
  <%= f.hidden_field :basepdf, value: @print_template.basepdf, id: 'print_template_basepdf' %>
  <%= f.hidden_field :inputs, value: @print_template.inputs, id: 'print_template_inputs' %>
</div>

<div id="designer-fullscreen" style="display:none;">
  <%= button_tag l(:button_print_template_designer_close), type: 'button', id: 'close-designer-fullscreen-btn', class: 'btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only' %>

  <div id="pdfme-designer"></div>
</div>
