<div class="box tabular">
  <p><%= f.text_field :name, required: true, size: 50 %></p>

  <p>
    <%= f.select :context,
        options_for_select([
                            [ l(:label_print_template_context_option_issue), 'issue' ],
                            [ l(:label_print_template_context_option_issues), 'issues', { disabled: true } ],
                            [ l(:label_print_template_context_option_project), 'project', { disabled: true } ]
                          ],
                          @print_template.context || 'issue'),
        { required: true } %>
  </p>


  <p>
    <%= f.select :tracker_id,
        options_from_collection_for_select(@trackers, :id, :name, @print_template.tracker_id || @trackers.first.id),
        { required: true },
        { data: { url: url_for(controller: 'print_templates', action: 'fields_for_tracker', format: :json) } } %>
  </p>

  <p>
    <%= content_tag(:label, l(:label_print_template_basepdf), for: 'pdf-upload') %>
    <input type="file" accept="application/pdf" id="pdf-upload" />
    <span id="basepdf-ok-icon" class="icon-only icon-ok" style="<%= 'display: none;' unless @print_template.basepdf.present? %>"></span>
    <%= link_to l(:link_print_template_basepdf_reset), '#', id: 'use-blank-pdf', style: ('display: none;' unless @print_template.basepdf.present?) %>
  </p>

  <p>
    <%= button_tag type: 'button', id: 'open-designer-fullscreen-btn', class: 'btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary' do %>
      <span class="ui-icon ui-icon-newwin"></span>
      <%= l(:button_print_template_designer_open) %>
    <% end %>
  </p>

  <!-- Hidden Fields -->
  <%= f.hidden_field :schemas, value: @print_template.schemas, id: 'print_template_schemas' %>
  <%= f.hidden_field :basepdf, value: @print_template.basepdf, id: 'print_template_basepdf' %>
</div>

<div id="designer-fullscreen" class="pdfme-overlay" style="display:none;">
  <div id="designer-button-bar" style="display: flex; align-items: center; justify-content: space-between;">
    <div>
      <!-- Buttons aligned to the left -->
      <input type="file" id="template-file-input" style="display: none;" accept="application/json">
      <%= button_tag type: 'button', id: 'template_upload-designer-fullscreen-btn', class: 'btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary' do %>
        <span class="ui-icon ui-icon-arrowthick-1-n"></span>
        <%= l(:button_print_template_designer_template_upload) %>
      <% end %>
      <%= button_tag type: 'button', id: 'template_download-designer-fullscreen-btn', class: 'btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary' do %>
        <span class="ui-icon ui-icon-arrowthick-1-s"></span>
        <%= l(:button_print_template_designer_template_download) %>
      <% end %>
    </div>

    <div style="margin-right:15px;">
      <!-- Buttons aligned to the right -->
      <%= button_tag type: 'button', id: 'close-designer-fullscreen-btn', class: 'btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary' do %>
        <span class="ui-icon ui-icon-closethick"></span>
        <%= l(:button_print_template_designer_close) %>
      <% end %>
    </div>
  </div>
  <iframe id="pdfme-designer-iframe" src="<%= url_for(controller: 'print_templates_pdfme', action: 'designer') %>"></iframe>
</div>
