<% if @issue && @issue.tracker %>
  <h3><%= l(:label_print_templates_plural) %></h3>
  <% print_templates = PrintTemplate.where(tracker_id: @issue.tracker_id).order(:name) %>
  <% if print_templates.any? %>
    <p>
      <%= label_tag 'print_template_select', l(:label_select_print_template) %>
      <%= select_tag 'print_template_select',
          options_from_collection_for_select(print_templates, :id, :name),
          id: 'print_template_select' %>
      <br>
      <%= button_tag l(:button_print_template_view_pdf), type: 'button', id: 'open-form-fullscreen-btn', class: '' %>
    </p>

    <div id="form-fullscreen" class="pdfme-overlay" style="display:none;">
      <div id="form-button-bar" style="display: flex; align-items: center; justify-content: space-between;">
        <div>
          <!-- Button to download as PDF -->
          <%= button_tag type: 'button', id: 'download-pdf-button', class: 'btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary' do %>
            <span class="ui-icon ui-icon-disk"></span>
            <%= l(:button_print_template_download_pdf) %>
          <% end %>
        </div>

        <div style="margin-right:15px;">
          <!-- Close button aligned to the right -->
          <%= button_tag type: 'button', id: 'close-form-fullscreen-btn', class: 'btn ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary' do %>
            <span class="ui-icon ui-icon-closethick"></span>
            <%= l(:button_close) %>
          <% end %>
        </div>
      </div>
      <iframe id="pdfme-form-iframe" src="<%= url_for(controller: 'print_templates_pdfme', action: 'form', issue_id: @issue.id) %>"></iframe>
    </div>
  <% else %>
    <p><%= l(:label_no_print_template_available) %>
    <% if User.current.admin? %>
      <br><%= link_to l(:label_print_template_administration), print_templates_path %>
    <% end %>
    </p>
  <% end %>
<% end %>
